// stock scss file

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown .dropbtn {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


@media screen and (min-width: 600px) {
nav {

  background: #ccc;
  height:2em;
  top:0;
  left:0;
  width:100%;

  > input[type=checkbox], > span { display:none; }

  li {
    padding: .5em 1em;
    min-width:75px;
    a {
      color:white;
      text-decoration: none;
    }

    &:hover {
      background: #000;
      color: white;
    }
  }

  > ul {
      margin:0;
      padding:0;
      list-style-type:none;
      display:flex;
      flex-direction:row;

      > li {

        position:relative;

        > ul {
          background: #ccc;
          display:none;
          list-style-type:none;
          padding:0;
          margin:0;
          position:absolute;
          left:0;
          top:2em;
        }

        &:hover {
          ul {
            display:flex;
            flex-direction:column;
          }
        }
      }

    }

}

}

@media screen and (max-width: 600px) {
nav {

  width: 50px;
  height: 50px;
  position: absolute;
  top:0;
  left:0;
  z-index:2;

  > span {
    display:block;
    width:100%;
    height: .2em;
    background: #000;
    border-radius: 10px;
    content: ' ';
    margin:.25em 0;
    position:relative;
    z-index:0;
  }

  > input[type=checkbox] {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    height:50px;
    width:50px;
    z-index:3;
    opacity:0;
  }

  > ul {
    position:absolute;
    top:0;
    left: -1000px;
    z-index:1;
  }

  > input[type=checkbox]:checked {
    opacity:1;
    &:after {
      color:#000;
      position:absolute;
      top:0;
      left:0;
      height:50px;
      width:50px;
      line-height:50px;
      text-align:center;
      z-index:5;
      content:'X';
      font-size:2em;
      font-weight:100;
      background:#eee;
    }

    ~ ul {
      left: 0;
      list-style-type: none;
      margin:0;
      padding:50px 2em 2em 2em;
      border:1px solid #ccc;
      width:200px;
      background: #eee;
    }
  }

}

}