body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

#home{
  padding: 0;
  display: block;
  text-align: center;
}

.main-nav {
  width: 100%;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 2.0;
}

#numberOfTeams {
  display: inline-block;
  /*float: right;
  clear: both;*/
}

article {
  display: inline-block;
}

#random-btn {
  background: #1E90FF;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#startDraft {
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, red); /* Standard syntax (must be last) */
  border: none;
  color: black;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#draftPlayer {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin: 0 auto;
}
