.main-nav {
  width: 100%;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 2.0;
}

article {
  display: inline-block;
}

#random-btn {
  background: #1E90FF;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#startDraft {
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, red); /* Standard syntax (must be last) */
  border: none;
  color: black;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#draftPlayer {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#draft-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#draft-nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#draft-nav li:hover:not(.active) {
    background-color: #111;
}

#draft-nav li .active {
    background-color: #4CAF50;
}
