

@media (min-width: 320px) {


}

@media only screen and (min-width: 640px) {

  #home {
    padding: .2em .2em .2em 2em;
    display: block;
  }

  #home:mouseover a {
    color: #29506D;
  }

@media (min-width: 720px) {

}
