

@media (min-width: 320px) {

  #DraftKats {
    width: 100%;
    padding: 1%;
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
    background-color: grey;
  }

  #numberOfTeams {
    margin: 2%;
    display: inline-block;
    color: blue;
  }

  #numberOfTeams > #teamCount {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45px;
  }

  #numberOfTeams > #userPos {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45px;
  }

  article {
    display: inline-block;
    color: red;
  }

  #random-btn {
    background: #1E90FF;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
  }

  .rosterSetup {
    width: 100%;
    padding: 0%;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: green;
  }

  .roster-position {
    margin: 10% 2%;
    display: block;
  }

  .positionWrapper {
    float: right;
    position: relative;
    right: 5%;
    top: 5%
    text-align: left;
    color: red;
    padding: 8%;
  }

  .positionWrapper > .position {
    position: relative;
    left: 5%;
    color: blue;
    padding: 8%;

    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45px;
  }

  #startDraft {
    background: yellow; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(yellow, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, red); /* Standard syntax (must be last) */
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 88%;
    left: 33%;
  }

  #startDraftButton {
    text-align: center;
  }

  #draftPlayer {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

}

@media only screen and (min-width: 640px) {

  #home {
    padding: .2em .2em .2em 2em;
    display: block;
  }

  #home:mouseover a {
    color: #29506D;
  }

@media (min-width: 720px) {

    #DraftKats {
      width: 100%;
      padding: 1%;
      display: block;
      text-align: center;
      font-size: 30px;
      line-height: 2.0;
      background-color: grey;
    }

    #numberOfTeams {
      margin: 2%;
      display: inline-block;
      color: blue;
    }

    #numberOfTeams > #teamCount {
      -webkit-appearance: button;
      -webkit-border-radius: 2px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-padding-end: 20px;
      -webkit-padding-start: 2px;
      -webkit-user-select: none;
      background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
      background-position: 97% center;
      background-repeat: no-repeat;
      border: 1px solid #AAA;
      color: #555;
      font-size: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 45px;
    }

    #numberOfTeams > #userPos {
      -webkit-appearance: button;
      -webkit-border-radius: 2px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-padding-end: 20px;
      -webkit-padding-start: 2px;
      -webkit-user-select: none;
      background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
      background-position: 97% center;
      background-repeat: no-repeat;
      border: 1px solid #AAA;
      color: #555;
      font-size: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 45px;
    }

    article {
      display: inline-block;
      color: red;
    }

    #random-btn {
      background: #1E90FF;
      border: none;
      color: white;
      padding: 15px 20px;
      border-radius: 4px;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 5px;
      cursor: pointer;
    }

    .rosterSetup {
      width: 100%;
      padding: 0%;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      font-family: 'Roboto Condensed', sans-serif;
      background-color: green;
    }

    .roster-position {
      margin: 10% 2%;
      display: block;
    }

    .positionWrapper {
      float: right;
      position: relative;
      right: 5%;
      top: 5%
      text-align: left;
      color: red;
      padding: 8%;
    }

    .positionWrapper > .position {
      position: relative;
      left: 5%;
      color: blue;
      padding: 8%;

      -webkit-appearance: button;
      -webkit-border-radius: 2px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-padding-end: 20px;
      -webkit-padding-start: 2px;
      -webkit-user-select: none;
      background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
      background-position: 97% center;
      background-repeat: no-repeat;
      border: 1px solid #AAA;
      color: #555;
      font-size: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 45px;
    }

    #startDraft {
      background: yellow; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(yellow, red); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(yellow, red); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(yellow, red); /* For Firefox 3.6 to 15 */
      background: linear-gradient(yellow, red); /* Standard syntax (must be last) */
      border: none;
      padding: 15px 20px;
      border-radius: 4px;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 16px;
      cursor: pointer;
      position: absolute;
      top: 88%;
      left: 33%;
    }

    #startDraftButton {
      text-align: center;
    }

    #draftPlayer {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 20px;
      border-radius: 4px;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  }


}
