<div class="rosterSetup"><h1>Roster Setup</h1></div>
{{#each this}}
<div class="positionWrapper">
<p>{{this.position}}</p>

<select class="position" id="{{this.position}}">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
</div>
{{/each}}
