<article>
  <h6>Player Name</h6>
  <p></p>
</article>
<article>
  <h6>Team</h6>
  <p></p>
</article>
<article>
  <h6>Position</h6>
  <p></p>
</article>
<article>
  <h6>ADP</h6>
  <p></p>
</article>
<article>
  <h6>BYE</h6>
  <p></p>
</article>
<button type="button" onclick="draft()" id="draftPlayer">Draft</button>
<br />
